# **Tópicos**

<ol type="1">
  <li>Introdução ao Google Colab;</li>
  <li>Variáveis;</li>
  <li>Números;</li>
  <li><i>Strings;</i></li>
  <li>Boleanos.</li>
</ol>

---

# **Exercícios**

## 1\. Google Colab

Crie uma célula de código que escreva o texto "Olá mundo!", utilize o comando `print`.

Crie uma célua de texto e adicione uma imagem.

In [ ]:
print("Olá Mundo!")

Olá Mundo!

---

## 2\. Números

Preencha as células de código para preencher os valores de (A), (B) e (C) na tabela de ticket médio abaixo:

<br>

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|--------------|
| 19/01 | 961.56             | 3                | 320.52       |
| 20/01 | 834.47             | 7                | 119.21       |
| 23/01 | 15378.12           | 5                | 3075.62      |

In [ ]:
# (A)
qtd_vendas_19 = 3
ticket_medio_19 = 320.52
valor_total_vendas_19 = qtd_vendas_19 * ticket_medio_19
print(valor_total_vendas_19)

961.56

In [ ]:
# (B)
valor_total_vendas_20 = 834.47
ticket_medio_20 = 119.21
qtd_total_20 = valor_total_vendas_20 / ticket_medio_20
print(qtd_total_20)

7.000000000000001

In [ ]:
# (C)
valor_total_vendas_23 = 15378.12
qtd_total_23 = 5
ticket_medio_23 = valor_total_vendas_23 / qtd_total_23
print(ticket_medio_23)

3075.6240000000003

---

## 3\. Strings

Aplique três métodos distintos na *string* abaixo:

In [ ]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'

In [ ]:
# Aplicando o método upper()
cancao_upper = cancao.upper()
print(cancao_upper)

RODA MUNDO, RODA GIGANTE, RODA MOINHO, RODA PIÃO.

In [ ]:
# Aplicando o método replace()
cancao_replace = cancao.replace('roda', 'gira')
print(cancao_replace)

Roda mundo, gira gigante, gira moinho, gira pião.

In [ ]:
# Aplicando o método split()
cancao_split = cancao.split(', ')
print(cancao_split)

['Roda mundo', 'roda gigante', 'roda moinho', 'roda pião.']

Extraia da string abaixo o valor da taxa **selic** na variável `selic` e o valor do **ano** na variavel `ano`. Imprima os valores na tela.

In [ ]:
noticia = 'Selic vai a 2,75% e supera expectativas; é a primeira alta em 6 anos.'

# Extraindo a taxa Selic
selic = noticia.split(' ')[3]
print('Taxa Selic:', selic)

# Extraindo o ano
ano = noticia.split(' ')[-2]
print('Ano:', ano)

Taxa Selic: 2,75%
Ano: 6

---

## 4\. Booleanos

Utilize a tabela da verdade para responder: qual o valor da variável x?

In [ ]:
a = False
b = True

x = not a & b
print(x)

True